.todo_container {
  margin-bottom: 10px;
}

.todo {
  padding: 10px;
}

.todo > h3 {
  font-size: x-large;
}

.todo > p {
  margin-top: 10px;
}

.actions button,
.action_white button {
  margin: 10px;
  margin-left: 0;
}

.todo input[type="checkbox"] {
  cursor: pointer;
  outline: 2px solid black;
}

.actions > button {
  background-color: white;
  border: none;
  color: black;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.action_white > button {
  background-color: black;
  border: none;
  color: white;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.single_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
